/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1180px;
$footerheight: 50px;

/* Colors */
$text: #555;
$links: #1a1364;
$hover: #7aa0cd;
$light: #7aa0cd;
$dark: #1a1364;
$grey: #333336;

$bg: #fff;

/* Fonts */
$main: sans-serif;

/* Borders */
$border: 1px solid #d8d8d8;

/* Breakpoints */
$l: 1920px;
$mobile-menu: 985px;
$m: 850px;
$s: 740px;
$xs: 500px;