#site-header {
	// margin-bottom: 45px;
	position: relative;
	// z-index: 250;
	// margin-top: 50px;

	@media (min-width: $s) {
		border-bottom: 10px solid $dark;
	}

	.logo {
		// display: inline-block;
		// margin-top: 50px;
		position: absolute;
		z-index: 250;
	}

	img {
		width: 100%;
		@media (min-width: $s) {
			height: auto;
		}
	}
}