.access {
	@include clearfix;
	position: relative;
    top: 35px;
    background: transparent;

	@media (min-width: $s) {
		margin: 0;
		width: auto;
		display: inline;
		float: right;
		padding-top: 28px;
		top: 0;
	}

	div {
		@media (min-width: $s) {
			float: left;
			// overflow: hidden;
			overflow: visible;
			position: relative;
			width: 100%;
		}
	}
	ul {
		clear: left;
		padding-left: 0;
		// margin: 0 !important;
		list-style: none;
		li {
			// position: relative;
			display: inline-block;
			vertical-align: middle;
			a {
				display: block;
				padding: 3px 0 3px 10px;
				margin: 2px 0;
				text-decoration: none;
				cursor: pointer;
				// uncomment if you want dividers
				// &:after {
				// 	content: '/';
				// 	color: $text;
				// }
				&:hover,
				&:focus {
					color: $hover;
				}
			}
			// &:last-of-type a:after {
			// 	content: none;
			// }
		}
	}
}



//styles specific to the language menu

nav.language {
	background: $grey;
	margin-bottom: 30px;
	padding: 6px 0;

	.menu-language-menu-container {
		display: inline;
	}

	span {
		color: $light;
		font-weight: bold;
		letter-spacing: 1px;
		margin-right: 5px;
		text-transform: uppercase;
	}

	ul {
		display: inline;
		list-style-type: none;
		margin: 0;
	}

	li {
		color: $light;
		display: inline;
		&:after {
			content: '|';
			font-size: 16px;
			font-weight: 100;
			position: relative;
			// top: 2px;
			left: 1px;
		}

		&:last-of-type {
			&:after {
				content: '';
			}
		}
	}

	a {
		color: $bg;
		padding: 0 5px;

		&:hover {
			color: $hover;
		}
	}
}


//styles specific to the tabbed menu
.menu-tabbed-menu-container {
	text-align: right;

	li {
		// padding: 20px;
	}

	ul li a {
		color: $light;
		padding: 16px;
	}

	ul.sub-menu {
		background: $light;
		display: none;
	}

	.current-menu-item {
		background: $dark;

		a {
			color: $bg;
		}

		ul.sub-menu {
			// display: block;
			margin-top: 10px !important;
			position: absolute;
			right: 0;
			width: 170px;
			z-index: 1000;
			li {
				display: block;

				a:hover {
					color: $dark;
				}
			}
		}
	}

	.current-menu-ancestor {
		background: $dark;

		a {
			color: $bg;
		}
			
		ul.sub-menu {
			// display: block;
			margin-top: 10px !important;
			position: absolute;
			right: 0;
			width: 170px;
			z-index: 1000;
			li {
				display: block;

				a {
					color: $bg;
					&:hover {
						color: $dark;
					}
				}
			}
		}
	}
}

// mega menu experimentation / override of plugin styles

#mega-menu-wrap-primary {
	background: transparent;
	// float: right;
	@media (min-width: $mobileNav) {
		display: inline-block;
	}

	.mega-current-menu-ancestor {
		background: $dark;
		color: #fff;
	}

	#mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
		display: inline-block;
	}
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
	display: inline-block;
	height: auto;
	padding: 16px;
}


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
	color: $dark;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
	text-transform: inherit;
}

.mega-current-menu-item {
	background: $dark;
}


// hover 

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, 
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover, 
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:focus {
	background: $dark;
	color: $bg;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
	background: $bg;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
	color: $dark;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-item>a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-ancestor>a.mega-menu-link {
	background: $dark;
	color: #fff;
}

//hide submenus on default behavior

// #mega-menu-wrap-primary #mega-menu-primary.mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, 
// #mega-menu-wrap-primary #mega-menu-primary.mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, 
// #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, 
// #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
// 	display: none;
// }
 
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item > ul.mega-sub-menu {
	// @media (min-width: $s) {
	// 	visibility: inherit;
	// 	// display: none;
	// 	width: 140%;
 //    	left: -38px;
	// }
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu ul.mega-sub-menu {
	// @media (min-width: $s) {
	// 	width: auto;
 //    	margin-left: 51px;
	// }
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-ancestor>a.mega-menu-link, 
#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-item>a.mega-menu-link {
	color: #fff;
}

// #mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-ancestor>a.mega-menu-link, 
// #mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-item>a.mega-menu-link, 
#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
	max-width: 100%;
	letter-spacing: .75px;
	font-weight: 600;
	font-size: 21px;

	@media (min-width: $xs) {
		letter-spacing: .75px;
		font-weight: 600!important;
	    font-size: 21px;
	    margin-right: 15px;
	    max-width: 180px;
	    height: 90px;
	    line-height: 28px;
	    text-align: center;
	}
}

#mega-menu-wrap-primary {
	float: none;

	@media (min-width: $xs) {
		float: right;
	}

	@media (min-width: $mobileNav) {
		float: none;
	}
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
	color: #fff;

	@media (min-width: $xs) {
		color: $dark;
	}
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:before,
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:after {
	color: $dark;
}

#mega-menu-wrap-primary .mega-menu-toggle {
	background: transparent;
}

#mega-menu-wrap-primary .mega-menu-toggle.mega-menu-open + #mega-menu-primary {
	background-color: $dark;
	position: absolute;
    right: 0;
    /* left: 0; */
    text-align: center;
    width: 100%;
    z-index: 1;

    @media (min-width: $s) {
    	margin-top: 32px;
    }
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-ancestor>a.mega-menu-link, 
#mega-menu-wrap-primary #mega-menu-primary>li.mega-current-menu-item>a.mega-menu-link {
	@media (min-width: $s) {
		color: #fff;
	}
}

.hamburger {
	display: none;
	@media (min-width: $xs) {
		display: block;
		font-size: 2em;
		position: absolute;
		right: 2%;
		z-index: 999;
	}

}



