@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h2 {color:#333336; margin-bottom:8px}

#main a {color:#538abd; font-weight:bold}

#main a.bluebutton, #main .hero a {color:#fff}

body {font-family: 'Open Sans', sans-serif; font-size:16px}

.access {padding-top:0}


/*added to scss partial*/

/*#site-header img { 
	width: 270px;
	margin-bottom:0; 
	margin-top:0}
*/
.page-template-front-page .homepage-lower .home-header, footer .top-footer .widget-title {
    font-weight: 600!important;
    letter-spacing: .75px;
    font-size: 21px;
}

.entry-title, .entry-title a {color:#1b1464}

.language .container {text-align:center}

.container {max-width:1120px}

#black-studio-tinymce-2 a {text-decoration:underline}  

.bluebutton{
    padding: 16px;
    font-weight: 600;
    letter-spacing: .75px;
    font-size: 21px;
    background:#4f81bd;
    margin-right:10px;
    display:inline-block;
    color:#fff
}

.bluebutton:hover, a:hover, a:link:hover {color:#d11d06}

/*this is breaking the columns — class names with "span" in them are reused for responsive columns & breakpoints*/
/*.s_span_4 {
    width: 27%;
}*/

/*this also kind of messed up the columns*/
/*.col {margin-left: 7%;}*/

img.alignleft {margin-right:2em}

.page-id-3006 .entry-content a {display:inline; margin-right:20px; width:100%; margin-bottom:40px}

h2 {font-size:18px}

hr {margin-bottom:1em}

.entry-title, .entry-title a {font-size:24px}



/*Navigation*/

nav.language {margin-bottom:18px}

nav.language ul {font-size:14px}

.menu-tabbed-menu-container ul li a {
    padding: 8px 16px 28px;
    font-weight: 600;
    letter-spacing: .75px;
    font-size: 21px;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children > a.mega-menu-link:after {display:none}

.access ul li {margin-right:6px}

.menu-tabbed-menu-container ul li:hover, .access ul li:hover {background-color: #1a1364;}

.menu-tabbed-menu-container ul li:hover a {color:#fff;}

/*added to scss partial*/
/*#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {padding:30px}*/

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu {border-top: 3px solid #1a1364;background:#f5f5f5; margin-bottom:10px}

li#mega-menu-item-16496 a{font-size:12px; margin-top:0; background:#ffcc00}

#mega-menu-wrap-primary ul ul ul ul a {color:#666!important; margin-top:-10px!important; margin-left:10px!important; font-size:13px!important}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {
    color: #424141; margin-bottom:10px; font-size:16px}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {font-size:18px}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-primary ul ul ul ul a:hover {color:#d11d06!important}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item>ul.mega-sub-menu {padding-top:8px}

.hamburger {font-size:2.5em}

/*Home Page*/

.page-template-front-page .hero a {
    padding: 16px;
    font-weight: 600;
    letter-spacing: .75px;
    opacity:.85
}

.page-template-front-page .about a {margin-top:10px; display:block}

.page-template-front-page .hero a:hover {
    opacity:1
}

.page-template-front-page .homepage-lower .home-header {padding:10px 16px}

.page-template-front-page .recent-posts .date {font-size:14px}


/*FOOTER*/

footer .top-footer {background-color:#4f81bd}


footer .top-footer .widget {width:100%}

footer .top-footer .widget-title {width:100%; background-color: transparent;}

footer .top-footer .widget:first-of-type {background-image: url(http://calduals.flywheelsites.com/wp-content/uploads/2017/02/CalDuals-cali.png);
    background-repeat: no-repeat;
    background-size: contain;}


/*SIDEBAR*/

h3.widget-title {font-size:18px; color:#1a1364; font-weight:bold; margin-bottom: 15px;
    margin-top: 8px;}

#black-studio-tinymce-2 a { 
    color:#fff;   
    display: inline-block;
    margin-left: 12px;
    margin-right: 48px;
    font-size: 16px;
    margin-bottom: 20px;
}

#black-studio-tinymce-2 a:hover, .page-template-front-page .recent-posts a:hover, .page-template-front-page .about a:hover {
color:#d11d06}



/*EVENTS FILTER*/

#tribe-bar-form, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {background:#fff}

#tribe-bar-form .tribe-bar-filters-inner {
    border: 3px solid #1a1364;
    }

#tribe-bar-form .tribe-bar-filters-inner::placeholder {
    }

.tribe-events-list-separator-month {background-color:#1a1364; color:#fff; font-size:18px}


#tribe_events_filters_wrapper.tribe-events-filters-horizontal, .tribe-filters-closed #tribe_events_filters_wrapper.tribe-events-filters-horizontal, .tribe-events-filters-content {background:none!important; border-left:none!important; border-right:none!important}

#tribe-events .tribe-events-button, .tribe-events-button {
    background-color: #4f81bd;
    border-radius: 0px;}

.tribe-events-filters-content {border-left:none; border-right:none; width:85%}

.tribe-events-filters-horizontal #tribe_events_filter_control a {color:#4f81bd}

#tribe-bar-form .tribe-bar-submit input[type=submit] {background: #4f81bd;}

.tribe-events-filter-view .tribe-events-list h2.tribe-events-page-title {color: #1b1464;
    font-size: 24px;
    font-weight: 600;
margin-top:0
}

.tribe-events-list-separator-month {margin: 1.25em 0 0;}

#tribe_events_filter_control {display:none}

.single-tribe_events #tribe-events-header .tribe-events-sub-nav {display:none}

/*WP ACCESSIBILITY*/

.fontsize, .fontsize h1, .fontsize h2, .fontsize h3, .fontsize h4, .fontsize h5, .fontsize h6, .fontsize p, .fontsize li:not(.a11y-toolbar-list-item), .fontsize label, .fontsize input, .fontsize select, .fontsize textarea, .fontsize legend, .fontsize code, .fontsize pre, .fontsize dd, .fontsize dt, .fontsize blockquote, .fontsize .excerpt, .fontsize #black-studio-tinymce-2 a, .fontsize #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, .fontsize #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {font-size:125%!important}


.fontsize input {font-size:100%!important}

/*FONT AWESOME*/

#footer a i, #footer a {color:#fff; }


#footer a i {margin-right:15px}

#footer a:hover, #footer a i:hover {color:#d11d06}


/*MEDIA*/

/*added to scss partial*/

/*@media (min-width: 740px) {

#mega-menu-wrap-primary {  
    width: 700px!important;
    margin-right: -160px;
}}*/


/*TABS*/

.su-tabs-nav span {font-weight:bold!important; font-size:16px!important}

.su-tabs-nav span {
    border-right: #fff 4px solid!important;}

.su-tabs {background: #1a1364!important;}

.su-tabs-nav {
    background: #dedede!important;
}


/*RANDOM*/

#post-17063.hentry {margin:0; padding:0}

.tribe-events-list-event-description p {display:none}

.comment-content table td, .entry-content table td {vertical-align:top}

#post-16884 a.bluebutton, .page-id-16791 a.bluebutton, .page-id-16886 a.bluebutton, #main .entry-content a.bluebutton {min-width: 350px;
    display: inline-block;
    text-align: center; margin-bottom:10px}

a.bluebutton:hover, .page-id-16592 img.size-full:hover {opacity:.85}

.su-column-size-1-2 {
    width: 46%!important;
}

.page-id-16592 img.size-full {
    width: 140px!important;
    margin-right: 15px!important;
}

.tpg-get-posts {
    margin-top: 26px;
}

.post-16871 h2 {margin-bottom:16px}


.page-id-17063 .page-item-16745 .children, .page-id-17063 .page-item-16717 .children, .page-id-17063 .page-item-16753 .children {display:none}




.page-id-17063 .page-item-16950 ul.children li,.page-id-17063 .page-item-16592 ul.children li, .page-id-17063 .page-item-16773 ul.children li, .page-id-17063 .page-item-16715 ul.children li, .page-id-17063 .page-item-16805 ul.children li  {display: inline-block;
    padding: 15px;
    height: 50px;
    vertical-align: bottom;
    width: 220px;}

.page-id-17063 .page-item-16773 .page-item-16791 ul.children, .page-id-17063 .page-item-16773 .page-item-16797 ul.children {margin:0}

.page-id-17063 .page-item-16773 .page-item-16791 ul.children li, .page-id-17063 .page-item-16773 .page-item-16797 ul.children li {display:list-item; margin:0 0 0 18px; padding:0; height:20px; font-size:16px;}


.page-list {font-size:18px}

.page-item-16193 {margin-top:20px}
.page-item-16713 {margin-top:15px}

.page-id-17063 .sub-menu {margin-left:1.5em}

#secondary ul.child-sidebar-menu li a, ul.child-sidebar-menu li, .page-id-17063 #main .sub-menu li a, .page-id-17063 #main .sub-menu li  {font-size: 16px; color: #555}

ul.child-sidebar-menu li {list-style-type:none}

.widget ul ul {
    margin-left: 0;
}

.widget ul ul ul {
    margin-left: 18px;
}

ul.parent-sidebar-menu li, 
.page-id-17063 #menu-about .menu-item-object-page, .page-id-17063 #menu-everything-else .menu-item-object-page {list-style-type:none;
    font-size: 20px;
    margin-top:5px
}

ul.child-sidebar-menu {margin-top: 0px}

#secondary .current_page_item a, #secondary ul.child-sidebar-menu li.current_page_item a, a:hover, #main a:hover {color:#d11d06}

#secondary .current_page_item .child-sidebar-menu li a, #secondary ul.child-sidebar-menu li.current_page_item ul.children a {color: #555}

#secondary ul.child-sidebar-menu li a, ul.child-sidebar-menu li {line-height: 22px;
    margin-top: 13px;}

#secondary .advanced-sidebar-menu li a:hover, ul.child-sidebar-menu li a:hover {color:#d11d06!important; font-weight:bold}

#secondary .children {display:none}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {line-height:24px}

#secondary .current_page_item .children {display:block}

.menu-about-container, .menu-everything-else-container {float:left}

.menu-about-container ul, .menu-everything-else-container ul, #secondary #nav_menu-6 ul {list-style: none;}

#secondary .current_page_ancestor .current_page_ancestor .children {
    display: block;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:hover {background-color:#4e82be}

ul.parent-sidebar-menu, #secondary #nav_menu-6 {
    background: #efefef;
    padding: 24px;  
}

#secondary #nav_menu-6 ul li a {color:#555}

.parent-sidebar-menu li.page_item_has_children, .parent-sidebar-menu li.page_item.page_item, #secondary #nav_menu-6 ul li {
    border-bottom: thin solid #fff; padding:5px
}
.parent-sidebar-menu li.page_item_has_children li {
    border-bottom: none!important;
}

.page-template-front-page .recent-posts ul {margin-bottom:.5em}

#secondary ul.child-sidebar-menu li a, ul.child-sidebar-menu li {margin-top:5px}

.parent-sidebar-menu li.page_item.current_page_ancestor.current_page_parent.has_children {
    border-bottom: none;
}

.page-template-front-page .recent-posts li:last-of-type {
    border-bottom: 1px solid #d8d8d8;
}

.page-template-page-view-everything #main a {font-size:18px}

.page-id-17063 .sub-menu {
    margin-left: 0;
}

.view-everything .menu-view-everything-1-container .sub-menu li, .view-everything .menu-view-everything-4-container .sub-menu li {margin-right:.5em}

.view-everything .menu-view-everything-1-container .sub-menu li, .view-everything .menu-view-everything-4-container .sub-menu li, .view-everything .menu-view-everything-6-container .sub-menu li {
    margin-bottom: 0;
}

.view-everything li {
    margin: 0 1.7em 0 .5em;
}

/*added to scss partial*/
/*#mega-menu-wrap-primary #mega-menu-primary ul.mega-sub-menu {
    box-shadow: 8px 12px 18px #ccc;
}*/

ul.mega-sub-menu ul, ul.mega-sub-menu ul li {
    box-shadow: none!important;  
}


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {margin-bottom:16px}

.view-everything .menu-view-everything-1-container .sub-menu, .view-everything .menu-view-everything-6-container .sub-menu {display:inline}

li#menu-item-18001 {
    margin-left: 185px;
}


.page-id-17063 #main li#menu-item-17995 .sub-menu li {width:159px}

/*.page-id-17063 #main .sub-menu li#menu-item-18008 {width:57px}

.page-id-17063 #main  .sub-menu li#menu-item-18014 {width:31px}

.page-id-17063 #main .sub-menu li#menu-item-18014 {width:70px}*/

li#menu-item-18010, li#menu-item-18011, li#menu-item-18021, li#menu-item-18022, li#menu-item-18024, li#menu-item-18015, li#menu-item-18095, li#menu-item-18097, li#menu-item-18094, li#menu-item-18099 {
    border-left: 4px solid #efefef;
    padding-left: 22px;
}

li#menu-item-18015 {
    margin-left: -2px;
}

.page-id-17063 #main .sub-menu li#menu-item-18038 {margin-right:0}

.view-everything .menu-view-everything-7-container {
    padding: 25px 0; 
}

.view-everything li .sub-menu li#menu-item-18033 {margin-left:1.65em!important} 
li#menu-item-18023 {
    margin-left: 0; margin-top:10px
}

.view-everything .menu-view-everything-1-container, .view-everything .menu-view-everything-2-container, .view-everything .menu-view-everything-3-container, .view-everything .menu-view-everything-4-container, .view-everything .menu-view-everything-5-container, .view-everything .menu-view-everything-6-container {
    border-bottom: 3px solid #ddd;
}

.page-template-page-view-everything #page .bluebutton {display:none} 

button#my-back-button {
    margin-bottom: 14px;
    padding: 5px 10px;
    background-color: #efefef;
    color: #555;
    color: #538abd;
    font-weight: bold;
}


.page-id-9671 h1.title, .page-id-9353 h1.title {text-align:right}