.home {
	#primary {
		img {
			width: 100%;
		}
	}

	.hero {
		position: relative;

		ul {
			margin: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		li {
			background-color: #7aa0cd;
			list-style: none;
			margin-bottom: 10px;
			padding: 10px;
    		text-align: center;
		}

		a {
			color: #fff;
		}
	}
}