.page-template-front-page {

	#main {
		margin-top: 0;
	}
	
	#primary {
		img {
			width: 100%;
		}
	}

	.hero {
		position: relative;

		ul {
			margin: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		li {
			background-color: $light;
			list-style: none;
			margin-bottom: 10px;
			padding: 10px;
    		text-align: center;
		}

		a {
			color: #fff;
		}
	}

	.homepage-lower {
		@include clearfix;
		margin-top: 30px;

		.home-header {
			background-color: $dark;
			color: $bg;
			display: inline;
			padding: 10px;
		}
	}

	.recent-posts {
		@media (min-width: $s) {
			float: left;
			margin-right: 6%;
			width: 47%
		}

		div {
			border-top: 8px solid $dark;
		}

		ul {
			list-style-type: none;
			margin-left: 0;
		}

		li {
			border-bottom: $border;
			margin-top: 20px;
			padding-bottom: 20px;

			p {
				margin: 0;
			}

			&:first-of-type {
				margin-top: 10px;
			}

			&:last-of-type {
				border-bottom: none;
			}
		}

		a {
			color: $light;
		}

		.date {
			color: $text;
			font-size: 12px;
			font-style: italic;
		}
	}

	.about {
		margin-bottom: 30px;

		@media (min-width: $s) {
			float: right;
			width: 47%
		}

		div {
			border-top: 8px solid $dark;
			padding-top: 15px;
		}

		a {
			color: $light;
		}
	}
}