.view-everything {
	.menu-view-everything-1-container, 
	.menu-view-everything-2-container, 
	.menu-view-everything-3-container, 
	.menu-view-everything-4-container, 
	.menu-view-everything-5-container {
		border-bottom: 5px solid $lightGrey;
		padding: 25px 0;

	}

	.menu-view-everything-1-container {
		.sub-menu {
			display: block;
			margin-top: 1em;
		}

		.sub-menu li {
			margin-bottom: 1em;
		}
	}

	.menu-view-everything-4-container {
		.sub-menu li {
			margin-bottom: 1em;
		}
	}

	ul {
		display: inline;
		list-style-type: none;
		margin: 0;
	}

	li {
		display: inline-block;
		list-style-type: none;
		margin: 0 0 0 2.5em;

		&:first-of-type {
			margin-left: 0;
		}

		.sub-menu {
			li {
				display: inline-block;
				margin-bottom: 0;

				&:first-of-type {
					margin-left: 2.5em;
				}
			}
		}
	}
}