.widget {
	clear: both;
	margin: 0;
	padding: 0 0 20px;
}
.widget-title {
	color: $text;
	text-align: left;
}
.widget ul {
	margin: 0;
	ul {
		margin-left: 1.5em;
	}
}

/* Special Classes */
.no-border {
	border-bottom: none;
	margin-bottom: 0;
	padding:  0;
}

/* Search Widget */
.widget_search {
	form {
		margin: 0 0 10px;
	}
	#s {
		width: 95%;
		display: inline-block;
	}
}

// Header Search Widget

header {
	.widget_search {
		float: right;
		padding-bottom: 0;
		width: auto;
		display: inline-block;
		@media (min-width: $mobile-menu) {
    		top: 40px;
    	}

		form {
    		margin: 0 0 10px;
    		position: relative;
    	}

    	input[type=text] {
    		border: 1px solid $dark;
    	}

    	button[type=submit] {
    		background: $dark;
    		color: white;
    		position: absolute;
    		right: 9px;
		    top: 1px;
		    padding: 3px 7px 5px;
    	}
	}
}